.divCards {
    backdrop-filter: blur(4px);
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 10% 10% 10% 8%;
    padding: 2em;
    border-radius: 1em;
    border-top: 10px solid #d6d300;
    border-right: 10px solid #d6d300;
    border-bottom: 10px solid #d6d300;
    border-left: 18px dashed #542c0d;
    /* box-shadow: 6px 5px 18px 9px rgba(0, 0, 0, 0.56); */
    /* box-shadow: -2px 10px 127px 90px rgba(255, 231, 0, 0.81);
    -webkit-box-shadow: -2px 10px 127px 90px rgba(255, 231, 0, 0.81);
    -moz-box-shadow: -2px 10px 127px 90px rgba(255, 231, 0, 0.81); */
    
}

.img{
    border-radius: 12px 80px 11px 8px;
    border: 2px solid #542c0d;
}